# Node/Bun dependencies
node_modules
bun_modules
*.lock

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log
bun-error.log

# Environment files
.env.local
.env.*.local

# Git files
.git
.gitignore

# Dockerfile-related-files
Dockerfile*
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Build output (if any)
dist
build
