.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.quicksand-light {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.quicksand-light-italic {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-style: italic;
}

/* Regular (400) */
.quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand-regular-italic {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: italic;
}

/* Medium (500) */
.quicksand-medium {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.quicksand-medium-italic {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-style: italic;
}

/* SemiBold (600) */
.quicksand-semibold {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.quicksand-semibold-italic {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* Bold (700) */
.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quicksand-bold-italic {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-style: italic;
}
