.range_label {
  --c: #ef4822;
  /* slider color */
  --g: round(0.3em, 1px);
  /* the gap */
  --l: round(0.15em, 1px);
  /* line thickness*/
  --s: round(1.3em, 1px);
  /* thumb size*/
  --t: round(0.8em, 1px);
  /* tooltip tail size */
  --r: round(0.8em, 1px);
  /* tooltip radius */
  timeline-scope: --thumb-view;
  position: relative;
  /* No, It's not useless so don't remove it (or remove it and see what happens) */
  font-size: 24px;
  width: 100%;
}

input[type="range"] {
  width: 100%;
  height: var(--s);
  /* needed for Firefox*/
  --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
  font-size: inherit;
}

/* chromium */
input[type="range" i]::-webkit-slider-thumb {
  height: var(--s);
  aspect-ratio: 1;
  border-radius: 10px;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #ffffff 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
  anchor-name: --thumb;
  view-timeline: --thumb-view inline;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: var(--s);
  width: var(--s);
  background: none;
  border-radius: 10px;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #ffffff 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
  anchor-name: --thumb;
  view-timeline: --thumb-view inline;
}

.react-multiple-carousel__arrow--left {
  left: 0 !important;
  z-index: 3 !important;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
  z-index: 3 !important;
}

.react-multi-carousel-dot-list {
  bottom: -50px !important;
  /* Move dots lower or higher */
}

.react-multi-carousel-dot button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: var(--color-slate-200);
  /* gray-300 */
  transition: all 0.3s ease;
  margin: 0 5px;
}

.react-multi-carousel-dot--active button {
  background: var(--color-primary);
  /* gray-900 */
}

*:focus {
  outline: none !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Base container */
.container {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  padding: 0px 20px;
}

/* Responsive max-widths (Bootstrap-style, mobile-first) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Popup box */
.swal2-popup {
  border-radius: 16px !important;
  background: #ffffff !important;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15) !important;
}

/* Title text */
.swal2-title {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #1e293b !important;
  /* slate-800 */
}

.swal2-image {
  width: auto !important;
  height: 56px !important;
}

/* Message text */
.swal2-html-container {
  font-size: 14px !important;
  color: #475569 !important;
  /* slate-600 */
}

/* Buttons wrapper */
.swal2-actions {
  gap: 10px !important;
}

/* Confirm button */
.swal2-confirm {
  background: #dc2626 !important;
  /* red-600 */
  color: #fff !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  font-weight: 600 !important;
}

/* Cancel button */
.swal2-cancel {
  background: #e2e8f0 !important;
  /* slate-200 */
  color: #1e293b !important;
  /* slate-800 */
  border-radius: 8px !important;
  padding: 10px 20px !important;
  font-weight: 600 !important;
}

/* .swal2-icon-show {
  width: 50px !important;
  height: 50px !important;
} */

.rpv-toolbar {
  font-size: 12px !important;
}

.rdrCalendarWrapper {
  background-color: #f5f5f5 !important;
  padding: 10px;
  padding-top: 0 !important;
  border-radius: 16px;
}
.rdrCalendarWrapper .rdrWeekDays .rdrWeekDay {
  margin-bottom: 3px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  color: #1f1f1f !important;
}
.rdrCalendarWrapper .rdrDays {
  padding: 0 !important;
  gap: 5px;
}
.rdrCalendarWrapper .rdrNextPrevButton,
.rdrCalendarWrapper .rdrNextButton {
  background-color: #fff !important;
  color: #002c59 !important;
  border-radius: 6px !important;
  box-shadow: 0px 1px 1px 0px #000e33 0d;
}
button.rdrDay {
  color: #002c59 !important;
  border-radius: 6px !important;
  background-color: #fff !important;
  width: calc(89% / 7) !important;
  box-shadow: 0px 1px 1px 0px #000e33 0d;
  font-size: 12px;
}
.rdrSelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  background-color: #002c59 !important;
}

.MuiFormControl-root {
  padding: 1px !important;
  border: 1px solid #dfdfdf !important;
  border-radius: 10px !important;
  font-size: 12px !important;
  padding-left: 12px !important;
}
